@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

@media (min-width:992px) {    
    .vertical-nav {
        position: fixed;
        top: 80px;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: #f8f8f8;
        overflow-y: auto;
        padding-top: 30px
      }
  }

.navbar-brand{
    font-family: 'Prompt', sans-serif;
    font-size: 20pt;
}
